[submodule "cpp/pybind11"]
	path = cpp/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "cpp/libyuv"]
	path = cpp/libyuv
	url = https://github.com/lemenkov/libyuv.git
[submodule "cpp/vvenc"]
	path = cpp/vvenc
	url = https://github.com/fraunhoferhhi/vvenc.git
[submodule "cpp/x264"]
	path = cpp/x264
	url = https://github.com/mirror/x264.git
[submodule "cpp/x265"]
	path = cpp/x265
	url = https://github.com/videolan/x265.git
