[submodule "cpp/pybind11"]
	path = cpp/pybind11
	url = git@github-agus:pybind/pybind11.git
[submodule "cpp/libyuv"]
	path = cpp/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "cpp/vvenc"]
	path = cpp/vvenc
	url = git@github-agus:fraunhoferhhi/vvenc.git
[submodule "cpp/x264"]
	path = cpp/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "cpp/x265"]
	path = cpp/x265
	url = git@github-agus:videolan/x265.git
